<header>
    <!--Navbar-->
    <nav class="navbar navbar-dark  indigo darken-2">

        <a class="navbar-brand brand-logo home" href="#"  >

            <img src="../img/homepage/mypets_logo2.png"  class="img-responsive"/>

        </a>
        <button class="navbar-toggler third-button " type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
                aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon3"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent22">
            <ul class="navbar-nav mr-auto navbar_menu">
                <li class="m-auto">CLINIQUES À PROXIMITÉ</li>
                <li class="compte m-auto ">MON COMPTE</li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar-->
</header>


<script type="text/javascript">
    $(document).ready(function () {
        $('.compte').on('click', function(e) {
            e.preventDefault();
            window.location = "./mon-compte.html";
        });
        $('.home').on('click', function(e) {
            e.preventDefault();
            window.location = "./home.html";
        });

        $('.third-button').on('click', function () {

            $('.animated-icon3').toggleClass('open');
        });
    });

</script>

