h1{
    margin-top: 4%;
    font-size: 16px;

}
.container{
    padding: 3% 3%;
    background:white;
}
p{
    text-align: center;
    font-size: 12px;
}

.footer{
    padding: 3%;
    background-color: #0687bd;
}
img{
    width: 100%;
}
.footer p , .footer h1{
    color: white;
}