@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html, body {
    height: 100%;
}

body {
    font: 1em 'Roboto', sans-serif;
    color: #555;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

nav {
    border-top: 1px solid #008CBA;
    border-bottom: 1px solid #ddd;
    background-color: #008CBA;
}

ul li{
    display: block;
    padding: 4%;
    font-size: 1em;
    text-align: center;
    color: white !important;
    text-decoration: none;
}

ul a:hover {
    background: #eee;
}

nav li:last-child {
    border-right: none;
}


.hamburger {
    padding: 15px;
    display: block;
}


nav li {
    width: 100%;
}

.menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
}

.slide-down {
    height: 100px;
}


/****************/

.bar,
.bar:after,
.bar:before {
    height: 1px;
    background: #C4C4C4;
    width: 30px;
}


.bar {
    position: relative;
    transform: translateY(10px);
    transition: all 0ms 300ms;
}

.bar.animate {
    width: 30px;
    background: rgba(255, 255, 255, 0);
}

.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
    width: 30px;
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
nav a > img {
    height: 50px;
    width: auto;
    margin-right: 30px;
}
hamburger above-overlay{
    margin-right: auto;
}
.navbar-menu{display: flex}
